.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image4 {
    position: absolute;
    top: 20%;
    left: 20%;
}

.image2 {
    position: absolute;
    top: 20%;
    left: 25%;
}


.image3 {
    position: absolute;
    top: 20%;
    left: 35%;
}

.image1 {
    position: absolute;
    top: 20%;
    left: 30%;
}

.form-check {
    margin-left: -6%;
    margin-top: 2%;
}

